
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: Raleway;
}

header {
    border-bottom: 1px solid gray;
    margin-bottom: 0px;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    float: left;
    width: 30%;
    border-right: 1px solid black;
    text-align: center;
}

nav {
    float: left;
    width: 70%;
    text-align: center;
    padding-top: 35px;
}

nav a {
margin: 10px;
font-size: 20px;
text-decoration: none;
color: #007cba;
}

aside {
border-right: 1px solid gray;
border:  ;
width: 15%;
margin-top: 0px;
float: left;
}

aside h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 20px;
}

article {
    float: left;
    margin-left: 10px;
}

footer {
    border-top: 2px solid black;
    background-color: #2c3e50;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}


